# cloudflared
CLOUDFLARED_PATH=/path/to/cloudflared/directory

# bin-it
UPRN=not-a-real-uprn
APP_PASSWORD=not-a-real-app-password
SENDER=not-a-real-sender@email.com
RECIPIENT=not-a-real-recipient@email.com
ME_CONFIG_BASICAUTH_USERNAME=not-a-real-username
ME_CONFIG_BASICAUTH_PASSWORD=not-a-real-password

# vaultwarden
DOMAIN=vw.myhomelab.com
