# cloudflared
CLOUDFLARED_PATH=/path/to/cloudflared/directory

# bin-it
UPRN=not-a-real-uprn
APP_PASSWORD=not-a-real-app-password
SENDER=not-a-real-sender@email.com
RECIPIENT=not-a-real-recipient@email.com
ME_CONFIG_BASICAUTH_USERNAME=not-a-real-username
ME_CONFIG_BASICAUTH_PASSWORD=not-a-real-password

# vaultwarden
DOMAIN=https://vaultwarden.myhomelab.com

# ntfy
NTFY_BASE_URL=https://ntfy.myhomelab.com

# nextcloud
## mariadb
MYSQL_ROOT_PASSWORD=not-a-real-password
MYSQL_DATABASE=not-a-real-database
MYSQL_USER=not-a-real-user
MYSQL_PASSWORD=not-a-real-password

## app
MYSQL_HOST=not-a-real-host
REDIS_HOST=not-a-real-host
NEXTCLOUD_ADMIN_USER=not-a-real-user
NEXTCLOUD_ADMIN_PASSWORD=not-a-real-password
